### Python Practice

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("my name is shagun")

my name is shagun

In [ ]:
print("my name is shagun")

my name is shagun

In [ ]:
#first program
print("Myself Shagun")

Myself Shagun

In [ ]:
a = input("What your name?")
print("My name is",a)

What your name?Manjeet
My name is Manjeet

In [ ]:
a , b ,c = 10 ,20 , 56
print(a, b ,c )

10 20 56

In [ ]:
num = int(input("Enter any num"))
print(num)

Enter any num 12
12

In [ ]:
s = float(input("Enter any number"))
print(s)

Enter any number 56
56.0

In [ ]:
lst= []
print(type(lst))

<class 'list'>

In [ ]:
a=10
print(type(a))

<class 'int'>

In [ ]:
a=10
b=12.3
c=3+4j

print(a,b,c)
print(type(a))
print(type(b))
print(type(c))

10 12.3 (3+4j)
<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
s = "Welcome to Paris"
print(s)
print(type(s))

Welcome to Paris
<class 'str'>

In [ ]:
print(s[0])
print(s[5])
print(s[0])
print(s[-5])

W
m
W
P

In [ ]:
# List data type
a = []
print(type(a))

<class 'list'>

In [ ]:
a = ["shagun","abhishek",123,45.6 ,"Ansh"]
print(a)

['shagun', 'abhishek', 123, 45.6, 'Ansh']

In [ ]:
print(a[-2])

45.6

In [ ]:
a[-1]= 34
a[0] = "Anjali"
print(a)

['Anjali', 'abhishek', 123, 45.6, 34]

In [ ]:
# Tuple
b = () # empty
print(type(b))
e=tuple("shagun")
print(e)
d = tuple(["shagun","ansh","abhishek"])
print(d)

<class 'tuple'>
('s', 'h', 'a', 'g', 'u', 'n')
('shagun', 'ansh', 'abhishek')

In [ ]:
print("My name is shagun I stay in Noida")

My name is shagun I stay in Noida

In [ ]:
print(2,3,4,6)

2 3 4 6

In [ ]:
print(23.5)

23.5

In [ ]:
name = input("What is your name ?")
print("My name is",name)

What is your name ?shagun
My name is shagun

In [ ]:
a=10
print(type(a))

<class 'int'>

In [ ]:
b=34.78
print(type(b))

<class 'float'>

In [ ]:
b=12
print(b)

12

In [ ]:
# print("this is string")
print("this is string")
d="DizitalAdda"
print(type(d))

this is string
<class 'str'>

In [ ]:
a= int(12)
print(a)
print(type(a))
a="12"
print(type(a))

12
<class 'int'>
<class 'str'>

In [ ]:
# Keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# Operator
a = 23
b = 12

c = a+b
d = a-b
e = a*b
f = a/b
g = a//b
h = a % b
j = a**b

print("Addition ",c)
print("Substraction ",d)
print("Multiplication ",e)
print("Division " , f)
print("Floor Division ",g)
print("Modulus is used to calculate remainder " ,h)
print("Exponentiation ",j)

Addition  35
Substraction  11
Multiplication  276
Division  1.9166666666666667
Floor Division  1
Modulus is used to calculate remainder  11
Exponentiation  21914624432020321

# Relational Operators

In [ ]:
a = 45
b = 45

print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a!=b) # not operators
print(a==b)

False
False
True
True
False
True

# Logical Operator

In [ ]:
a = True
b = False

print(a or b)
print(a and b)
print(not b)

True
False
True

# Bitwise Operators

In [ ]:
a = 10
b = 4
print(a & b) # and
print(a | b) #or
print(~a) # Not
print(a>>2) #right shift (divide by 2)
print(a<<2) # left shift (multiply  by 2)
print(a^b) # XOR

0
14
-11
2
40
14

# Identity Operators

In [ ]:
a = 20
b = 40
c = a

print(a is not b)
print(a is c)

True
True

# Conditional Statements

In [ ]:
age = 10

if age>=18:
  print("The person is eligible to vote ")
else:
  print("The person is not eligible to vote ")

The person is not eligible to vote

In [ ]:
age = int(input("Enter your age to check eligibility"))

if age>=5:
  print("You have to buy tickets")
else:
  print("You don't need to buy tickets ")

Enter your age to check eligibility 10
You have to buy tickets

## elif conditional statements

In [ ]:
age = int(input("Enter your age"))

if age<=10:
  print("You are child")
elif age<=16:
  print("You are teenager")
elif age<=35:
  print("You are young adult")
elif age<=60:
  print("You are an Adult")
else:
  print("You are old age person")

Enter your age 45
You are an Adult

## Nested Conditional Statement

In [ ]:
age = int(input("Enter Your Age to check eligibility"))
member_input = input("Are you member of club?").strip().lower()

is_member = member_input in ["yes","y"]

if age>=60:
  if is_member:
    print("You will get 50% discount")
  else:
    print("You will get only 30% discount as you are not member of club")
else:
  print("You won't get any discount as you are less than 60")

Enter Your Age to check eligibility 78
Are you member of club? Yes
You will get 50% discount

## Loops in Python

### For Loops

In [ ]:
n = 11
for i in range(1,n):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
li = ["Shagun", "Amit","Ansh","Vegetables","Fruites","Divya"]
for i in li:
  print(i)

Shagun
Amit
Ansh
Vegetables
Fruites
Divya

In [ ]:
tup = ("Shagun", "Amit","Ansh","Vegetables","Fruites","Divya")
for i in tup:
  print(i)

Shagun
Amit
Ansh
Vegetables
Fruites
Divya

In [ ]:
tup = ("Shagun", "Amit","Ansh","Vegetables","Fruites","Divya")
print(tup)
tup[2]=34
print(tup)

('Shagun', 'Amit', 'Ansh', 'Vegetables', 'Fruites', 'Divya')

TypeError: 'tuple' object does not support item assignment

In [ ]:
li = ["Shagun", "Amit","Ansh","Vegetables","Fruites","Divya"]
print(li)
li[2]=34
print(li)

['Shagun', 'Amit', 'Ansh', 'Vegetables', 'Fruites', 'Divya']
['Shagun', 'Amit', 34, 'Vegetables', 'Fruites', 'Divya']

## Loop in python

In [ ]:
count = 1
while count <=5:
  print(f"count is : {count}")
  count = count + 1

count is : 1
count is : 2
count is : 3
count is : 4
count is : 5

In [ ]:
password = ""
while password != "shagun":
    password = input("Enter password: ")
    if password != "shagun":
        print("Wrong password, try again!")
print("Access granted!")

Enter password: shagun
Access granted!

## For Loop

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# initital value define
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
## start stop step
for i in range(4,44,4):
  print(i)

4
8
12
16
20
24
28
32
36
40

In [ ]:
## Reverse range
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range(6):
  for j in range(i+1):
    print("1",end="")
  print()

1
11
111
1111
11111
111111

In [ ]:
## Multiplication table

for i in range(1, 8):  # Outer loop
    for j in range(1, 8):  # Inner loop
        print(f"{i} * {j} = {i*j}")
    print()  # Empty line after each table

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49

# Break Control Statement

In [ ]:
for i in range(20):
  if i == 13:
    break
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12

# Continue

In [ ]:
for i in range(15):
  if i == 7:
    continue
  print(i)

0
1
2
3
4
5
6
8
9
10
11
12
13
14

In [ ]:
## Loops with else
for i in range(10):
  print(i)
else:
  print("Loop Completed")

0
1
2
3
4
5
6
7
8
9
Loop Completed

In [ ]:
# While loop with else
a = 0
while a<8:
  print(a)
  a=a+1
print("Loop completed")

0
1
2
3
4
5
6
7
Loop completed

In [ ]:
lst = [2,3,4,5]
print(lst)

lst.append(12)
print(lst)

[2, 3, 4, 5]
[2, 3, 4, 5, 12]

In [ ]:
total = 0
for i in range(1,10):
  total += i

print(f"Sum of number : {total}")

Sum of number : 45

In [ ]:
#
text = "Shagun Srivastava"
vowels = "aeiouAEIOU"
vowels_count = 0

for letters in text:
  if letters in vowels:
    vowels_count +=1
print(f"The number of vowels present in text : {vowels_count}")

The number of vowels present in text : 6

In [ ]:
while True:
    print("\n--- Menu ---")
    print("1. Say Hello")
    print("2. Calculate Square")
    print("3. Exit")

    choice = input("Enter your choice (1-3): ")

    if choice == "1":
        name = input("Enter your name: ")
        print(f"Hello, {name}!")
    elif choice == "2":
        num = int(input("Enter a number: "))
        print(f"Square of {num} is {num**2}")
    elif choice == "3":
        print("Goodbye!")
        break
    else:
        print("Invalid choice! Please try again.")

--- Menu ---
1. Say Hello
2. Calculate Square
3. Exit
Enter your choice (1-3):  1
Invalid choice! Please try again.

--- Menu ---
1. Say Hello
2. Calculate Square
3. Exit
Enter your choice (1-3): 1
Enter your name: Shagun
Hello, Shagun!

--- Menu ---
1. Say Hello
2. Calculate Square
3. Exit
Enter your choice (1-3): 3
Goodbye!

## Function in python

In [ ]:
def greet(name):
  print("Hello! How are you ",name)

greet("Shagun")
greet("Ansh")
greet("Abhishek")
greet("Jai Prakash")

Hello! How are you  Shagun
Hello! How are you  Ansh
Hello! How are you  Abhishek
Hello! How are you  Jai Prakash

In [ ]:
def sum(a,b):
  return a+b

print("The sum of two values :" ,sum(45,67))

The sum of two values : 112

## Built-in-functions

In [ ]:
print(sum(23,45))

68

In [ ]:
lst = list([3,3,4,5,6,7,9,10,22,34,12,23,45])
print(len(lst))

13

In [ ]:
a = "Shagun Srivastava"
print(len(a))

17

In [ ]:
print(len("shagun"))

6

In [ ]:
a = ["shagun","manisha"] # list
print(len(a))

2

In [ ]:
def ansh(x):
  return x**2

print(ansh(3))

9

## Types of Arguments

In [ ]:
## Positional Arguments
def divide(a,b):
  return (a/b)

print(divide(23,6))

3.8333333333333335

In [ ]:
## keywords arguments
def divide(c,d):
  return c/d

print(divide(c=12,d=6))

2.0

In [ ]:
## default
def greet(name="Guest"):
  print("Hii" , name)


print(greet())
greet("Shagun")

Hii Guest
None
Hii Shagun

In [ ]:
def total(*numbers):
    return __builtins__.sum(numbers)

print(total(1, 2, 3, 4, 5))

15

In [ ]:
## Kwargs
def details(**info):
  print(info)

details(name="Anjali",age=22,course="B.Com")

{'name': 'Anjali', 'age': 22, 'course': 'B.Com'}